div#general{
	margin: auto;
	margin-top: 60px ;
	width: 350px;
	height: 300px;
	background-color: #787878;
	border-radius: 45px;
	}

	

    body{
        background-image: url(oly.jpg);
        background-size: 100%;
        background-attachment: fixed;
       
       }