div#general{
	margin: auto;
	margin-top: 60px ;
	width: 800px;
	height: 500px;
	background-color: #23727b;
	border-radius: 45px;
	}

    body{
        background-image: url(ser.jpg);
        background-size: 100%;
        background-attachment: fixed;
       
       }

img{
border-radius: 30px;
}