div#general{
	margin: auto;
	margin-top: 60px ;
	width: 600px;
	height: 760px;
	background-color: #3C3C3C;
	border-radius: 45px;
	}
body{
 background-image: url(oly.jpg);
 background-size: 100%;
 background-attachment: fixed;

}
div#general2{
	margin: auto;
	margin-top: 10px ;
	width: 150px;
	height: 130px;
	background-color: #2BE9CF;
	border-radius: 15px;
	}

	div#general3{
	margin: auto;
	margin-top: 10px ;
	width: 450px;
	height: 120px;
	background-color: #2BE9CF;
	border-radius: 15px;
	}
	img{
		border-radius: 80px 20px;
	}
	marquee{
		border-radius: 80px 20px;
	}